@import url('https://fonts.googleapis.com/css?family=Numans');
html, body {
    background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

.hidden {
    display: none;
}

h1 {
    color: #ffbc3d;
    padding-top: 110px;
    margin-left: -75px;
    font-family: 'Raleway-Black';
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

@media screen and (max-width: 576px) {
    #index-container {
        background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
    }
    .accueil-link button {
        background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
    }
}

* {
    font-family: "Roboto";
}

@media (min-width: 768px) and (max-width: 1199.98px) {
    #index-container {
        background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
    }
}

.email {
    color: #ffbc3d;
    font-style: italic;
}

.mdp {
    color: #ffbc3d;
    font-style: italic;
}

#connecter:hover {
    background-color: #eaa81b;
    color: #282f44;
}

#emailHelp {
    color: pink;
    font-style: italic;
}

a:hover {
    font-style: italic;
    font-weight: 400;
    background-color: #eaa81b;
    color: #282f44;
    text-decoration: underline;
}

a {
    color: white;
    background-color: #0e173c;
    text-decoration: none;
    margin-left: 65px;
    font-style: italic;
}

#connecter {
    margin-left: 192px;
}